
pillow>=11.3.0
pyinstaller>=6.16.0
pyngrok>=7.4.1
pywin32>=311; sys_platform == 'win32'
robotframework>=7.3.2
ttkbootstrap>=1.18.2
lxml>=6.0.2
google-generativeai>=0.3.2
robotframework-appiumlibrary>=2.0.0
allure-robotframework>=2.13.2